In [1]:
import numpy as np
import pandas as pd

# 列操作
```
1.列操作
		1).取(查)
			- df["列标签"] --- 单列数据
			- df[["列标签1","列标签2"]]  - 多列数据
			
			注意:
				①.不能使用位置下标
				②.不能使用标签切片
		2).添加:
			df["新列标签"] = 值   序列或Series
			
			insert(loc<位置>,column<列名>,value<值>)
				- loc取值范围:0<=loc<=len(列)
		3).删除: 
			del :python原始的删除操作,直接就销毁
			
			pop : 也销毁,不同在于有返回值,返回值是需要删除的内容
		
		4).改:
			df["源列标签"] = 值
```

## 1.列的选取
<font color='red'>不能通过位置来索引列，也不能通过切片来进行索引</font>

In [6]:
data={'Name':['刘备','关羽','张飞'],'Age':[28,25,26],'Sex':['Male','Female',"Male"]}
df=pd.DataFrame(data,index=['one','two','three'])
print(df['Name'])
print(type(df['Age']))# Series

# 选取多列
print(df[['Name','Sex']]) #DataFrame

one      刘备
two      关羽
three    张飞
Name: Name, dtype: object
<class 'pandas.core.series.Series'>
      Name     Sex
one     刘备    Male
two     关羽  Female
three   张飞    Male

## 列添加
使用 columns 列索引标签可以实现添加新的数据列

In [8]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

#使用df['列']=值，插入新的数据列
print ("====通过Series添加一个新的列====:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

#将已经存在的数据列相加运算,从而创建一个新的列
print ("======将已经存在的数据列相加运算,从而创建一个新的列:=======")
df['four']=df['one']+df['three']
print(df)

====通过Series添加一个新的列====:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
======将已经存在的数据列相加运算,从而创建一个新的列:=======
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

## insert方法添加
上述示例，我们初次使用了 DataFrame 的算术运算，这和 NumPy 非常相似。除了使用df[]=value的方式外，您还可以使用 insert() 方法插入新的列，示例如下： 
`df.insert(loc, column, value, allow_duplicates=False)`
- loc : 整型,插入索引,必须验证0<=loc<=len（列）
- column : 插入列的标签,类型可以是(字符串/数字/散列对象)
- value : 数值,Series或者数组
- allow_duplicates : 允许重复,可以有相同的列标签数据,默认为False

In [12]:
info=[['王杰',18],['李杰',19],['刘杰',17]]
df=pd.DataFrame(info,columns=['name','age'])
print(df)
#注意是column参数
#数值1代表插入到columns列表的索引位置 :loc : 整型,插入索引,必须验证0<=loc<=len（列）
df.insert(0,column='score',value=[91,90,75])
print("=====df.insert插入数据:=======")
print(df)

  name  age
0   王杰   18
1   李杰   19
2   刘杰   17
=====df.insert插入数据:=======
   score name  age
0     91   王杰   18
1     90   李杰   19
2     75   刘杰   17

In [13]:
# 可以添加重复列标签数据
df.insert(1,column='score',value=[80,70,90],allow_duplicates=True)
print(df)

   score  score name  age
0     91     80   王杰   18
1     90     70   李杰   19
2     75     90   刘杰   17

## 删除数据列
使用del或者pop方法删除数据列

In [15]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
     'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
del df['two']
print(df)

res=df.pop('three')
print(res)

   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN
a    10.0
b    20.0
c    30.0
d     NaN
Name: three, dtype: float64

In [18]:
# 使用del删除字典中的键值对
my_dict ={"name":"xiao网","age":20}
del my_dict["name"]
my_dict

{'age': 20}