In [1]:
import pandas as pd
import numpy as np

# 行操作
```
2.行操作
		1).取(查)
			loc: 使用行标签
				df.loc["行标签"]  ---单行
				df.loc[["行标签1"],["行标签2"]] - 多行
			iloc:使用行标签位置索引
				df.loc[位置索引]  ---单行
				df.loc[[位置索引1],[位置索引2]]
				还可以使用切片:
					df.iloc[位置索引1:位置索引3]  ---切片,不包含结束行
	
			注意:
				不能行标签和行位置索引 混用
				
		2)增加:
			行追加:append
				1).追加字典
					-注意添加ignore_index=True,
					  或者将字典转化为Series并且设置name参数
				2).追加列表									
					如果list是一维的,则以列的形式追加
					如果list是二维的,则以行的形式追加
					如果list是三维的,只添加一个值
			删除:
				drop("行标签") 和 Series一样操作
				-注意:标签找不到会被报错
				- 默认不改变源数据
	3.DataFrame属性和常用函数
``

## 标签选取
- 行操作需要借助loc属性来完成:按标签或布尔数组访问一组行和列

In [11]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
     ,'three' : pd.Series([5,6,7,8], index=['a', 'b', 'c', 'd'])
     }
df= pd.DataFrame(d)
print(df)
print("="*20)

print(df.loc['a'])
print(type(df.loc['a'])) # Series

   one  two  three
a  1.0    1      5
b  2.0    2      6
c  3.0    3      7
d  NaN    4      8
====================
one      1.0
two      1.0
three    5.0
Name: a, dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
print(df.loc[['a','b']]) # 一次性选取多行
print(type(df.loc[['a','b']])) # DataFrame

   one  two
a  1.0    1
b  2.0    2
<class 'pandas.core.frame.DataFrame'>

In [12]:
# 列表的第一个值表示行，第二个表示列
print(df.loc['c','three']) #选取一行一列

7

In [14]:
print(df.loc[['a','d'],['two','three']]) # 选取不连续的多行和多列
print(type(df.loc[['a','d'],['two','three']])) # DataFrame

   two  three
a    1      5
d    4      8
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(df.loc['a':'c','two':'three']) # 选取连续的多行多列

   two  three
a    1      5
b    2      6
c    3      7

和numpy的选取方式对比

In [16]:
s=np.arange(12).reshape(3,4)
s

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [19]:
s[[0,2],[0,3]] # 第一个列表中的表示行，第二个列表中的表示列 选中[0,0]和[0,3]

array([ 0, 11])

## 数值型索引和切片
- 主要是使用iloc属性,<font color=red>注意是属性，而不是方法<font>

In [20]:
data = {'Name':['关羽', '刘备', '张飞', '曹操'],'Age':[28,34,29,42]}
# 定义行标签
index = ["rank1", "rank2", "rank3", "rank4"]
# 通过字典创建DataFrame
df = pd.DataFrame(data, index=index)
df

      Name  Age
rank1   关羽   28
rank2   刘备   34
rank3   张飞   29
rank4   曹操   42

In [25]:
print(df.iloc[2])
print(df.iloc[2,0])# 第2行第0列

Name    张飞
Age     29
Name: rank3, dtype: object
张飞

In [26]:
print(df.iloc[[0,2,3]]) # 使用列表选取不连续的多行

      Name  Age
rank1   关羽   28
rank3   张飞   29
rank4   曹操   42

In [29]:
print(df.iloc[0:2,0:2]) #连续的多行和多列

      Name  Age
rank1   关羽   28
rank2   刘备   34

In [30]:
data = {
            'Name':['关羽', '刘备', '张飞', '曹操'], 
            'Age':[28, 34, 29, 42],
            "Salary":[5000, 8000, 4500, 10000],
            "hobby":["python", "java", "go", "JavaScript"]
       }
# 定义行标签
index = ["rank1", "rank2", "rank3", "rank4"]
# 通过字典创建DataFrame
df = pd.DataFrame(data, index=index)
df

      Name  Age  Salary       hobby
rank1   关羽   28    5000      python
rank2   刘备   34    8000        java
rank3   张飞   29    4500          go
rank4   曹操   42   10000  JavaScript

#### 练习
1. 取得第3行数据
2. 取得Age列数据
3. 取得Age和Salary列数据
4. 取得前3行数据
5. 取得前3行Name|Age|Salary数据
6. 取得行1和3,列Age和Salary数据

In [31]:
print(df.iloc[2])
print(df.loc['rank3'])

Name        张飞
Age         29
Salary    4500
hobby       go
Name: rank3, dtype: object
Name        张飞
Age         29
Salary    4500
hobby       go
Name: rank3, dtype: object

In [33]:
print(df['Age']) # 直接索引列
print(df.loc[:,'Age']) #使用loc
print(df.iloc[:,1]) #使用位置索引

rank1    28
rank2    34
rank3    29
rank4    42
Name: Age, dtype: int64
rank1    28
rank2    34
rank3    29
rank4    42
Name: Age, dtype: int64
rank1    28
rank2    34
rank3    29
rank4    42
Name: Age, dtype: int64

In [37]:
print(df[['Age','Salary']])
print(df.loc[:,['Age','Salary']]) #
print(df.iloc[:,1:3])

       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500
rank4   42   10000
       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500
rank4   42   10000
       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500
rank4   42   10000

In [38]:
print(df.iloc[0:3])
print(df.loc["rank1":"rank3"])

      Name  Age  Salary   hobby
rank1   关羽   28    5000  python
rank2   刘备   34    8000    java
rank3   张飞   29    4500      go
      Name  Age  Salary   hobby
rank1   关羽   28    5000  python
rank2   刘备   34    8000    java
rank3   张飞   29    4500      go

In [41]:
print(df.loc["rank1":"rank3",['Name','Age','Salary']])
print(df.loc['rank1':'rank3','Name':'Salary'])
print(df.iloc[0:3,0:3])

      Name  Age  Salary
rank1   关羽   28    5000
rank2   刘备   34    8000
rank3   张飞   29    4500
      Name  Age  Salary
rank1   关羽   28    5000
rank2   刘备   34    8000
rank3   张飞   29    4500
      Name  Age  Salary
rank1   关羽   28    5000
rank2   刘备   34    8000
rank3   张飞   29    4500

In [42]:
print(df.loc[['rank1','rank3'],['Age','Salary']])

       Age  Salary
rank1   28    5000
rank3   29    4500

## 添加数据
使用 `append()` 函数，可以将新的数据行添加到 DataFrame 中，该函数会在行末追加数据行

`df.append(other, ignore_index=False, verify_integrity=False, sort=False)`

将"other"追加到调用者的末尾，<font color="red">返回一个新对象</font>。"other"行中不在调用者中的列将作为新列添加。

- other : DataFrame或Series/dict类对象，或这些对象的列表
- ignore_index : 默认为False,如果为True将不适用index 标签.
- verify_integrity : 默认为False如果为True，则在创建具有重复项的索引时引发ValueError.
- sort : 排序

In [11]:
data = {
            'Name':['关羽', '刘备', '张飞', '曹操'], 
            'Age':[28, 34, 29, 42],
            "Salary":[5000, 8000, 4500, 10000]
       }
df = pd.DataFrame(data)
df

  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500
3   曹操   42   10000

In [12]:
d2={'Name':'赵云','Age':25}
# 仅当ignore_index=True或序列有名称时，才能追加序列或者Series数据有name
df3=df.append(d2) #  Can only append a dict if ignore_index=True
df3

<ipython-input-12-98a1377fc704>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3=df.append(d2) #  Can only append a dict if ignore_index=True

TypeError: Can only append a dict if ignore_index=True

In [13]:
d2 = {"Name":"诸葛亮", "Age":30}
#在行末追加新数据行
df3 = df.append(d2, ignore_index=True) # 需要添加 
print(df3)

  Name  Age   Salary
0   关羽   28   5000.0
1   刘备   34   8000.0
2   张飞   29   4500.0
3   曹操   42  10000.0
4  诸葛亮   30      NaN

<ipython-input-13-cc98462fed17>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df.append(d2, ignore_index=True) # 需要添加

In [14]:
d2 = {"Name":"赵云", "Age":30}

s = pd.Series(d2, name="a")
print(s)
#在行末追加新数据行
df4 = df3.append(s) # 需要添加 
print(df4)

Name    赵云
Age     30
Name: a, dtype: object
  Name  Age   Salary
0   关羽   28   5000.0
1   刘备   34   8000.0
2   张飞   29   4500.0
3   曹操   42  10000.0
4  诸葛亮   30      NaN
a   赵云   30      NaN

<ipython-input-14-4b484a5824e1>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df3.append(s) # 需要添加

### 追加列表
- 如果list是一维的,则以列的形式追加
- 如果list是二维的,则以行的形式追加
- 如果list是三维的,只添加一个值

<font color="red">注意:</font>使用append可能会出现相同的index,想避免的话,可以使用ignore_index=True

In [16]:
data = [
            [1, 2, 3, 4],
            [5, 6, 7, 8]
       ]
            
df = pd.DataFrame(data)
print(df)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [18]:
# 实际上，会把列表中每个元素当做一行添加到DataFrame中
l1=[10,20] # 一维添加
df1=df.append(l1,ignore_index=True)
print(df1)

    0    1    2    3
0   1  2.0  3.0  4.0
1   5  6.0  7.0  8.0
2  10  NaN  NaN  NaN
3  20  NaN  NaN  NaN

<ipython-input-18-4bc70f0891bf>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1=df.append(l1,ignore_index=True)

In [19]:
l1=[10,20,30] # 一维添加
df1=df.append(l1,ignore_index=True)
print(df1)

    0    1    2    3
0   1  2.0  3.0  4.0
1   5  6.0  7.0  8.0
2  10  NaN  NaN  NaN
3  20  NaN  NaN  NaN
4  30  NaN  NaN  NaN

<ipython-input-19-b968d5f03c8f>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1=df.append(l1,ignore_index=True)

In [20]:
# 二维添加
l2=[[1,1,1],[2,2,3]]
df2=df.append(l2,ignore_index=True)
print(df2)

   0  1  2    3
0  1  2  3  4.0
1  5  6  7  8.0
2  1  1  1  NaN
3  2  2  3  NaN

<ipython-input-20-fe95e88810ce>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2=df.append(l2,ignore_index=True)

In [31]:
df3=pd.DataFrame([[1,2,3,4]],index=['aaa'])
print(df3)
# df4=df.append(df,ignore_index=True)
df4=df.append(df3)
df4

     0  1  2  3
aaa  1  2  3  4

<ipython-input-31-91f2a023f36e>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4=df.append(df3)

     0  1  2  3
0    1  2  3  4
1    5  6  7  8
aaa  1  2  3  4

## 5. 删除数据行

您可以使用行索引标签，从 DataFrame 中删除某一行数据。如果索引标签存在重复，那么它们将被一起删除。示例如下：

In [36]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])

df2 = pd.DataFrame([[5, 6], [7, 8]],index=['aaa','bbb'], columns = ['a','b'])

df = df.append(df2)
print("=======源数据df=======")
print(df)
#注意此处调用了drop()方法,注意drop默认不会更改源数据
df1 = df.drop(0)
print("=======修改后数据df1=======")
print(df1)

print("=======源数据df=======")
print(df)

=======源数据df=======
     a  b
0    1  2
1    3  4
aaa  5  6
bbb  7  8
=======修改后数据df1=======
     a  b
1    3  4
aaa  5  6
bbb  7  8
=======源数据df=======
     a  b
0    1  2
1    3  4
aaa  5  6
bbb  7  8

<ipython-input-36-81960c43821f>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)