# Pandas读取文件

当使用 Pandas 做数据分析的时，需要读取事先准备好的数据集，这是做数据分析的第一步。Panda 提供了多种读取数据的方法：

    read_csv() 用于读取文本文件
    read_excel() 用于读取文本文件
    read_json() 用于读取 json 文件
    read_sql_query() 读取 sql 语句的，

## CSV文件读取

CSV 又称逗号分隔值文件，是一种简单的文件格式，以特定的结构来排列表格数据。 CSV 文件能够以纯文本形式存储表格数据，比如电子表格、数据库文件，并具有数据交换的通用格式。CSV 文件会在 Excel 文件中被打开，其行和列都定义了标准的数据格式。

将 CSV 中的数据转换为 DataFrame 对象是非常便捷的。和一般文件读写不一样，它不需要你做打开文件、读取文件、关闭文件等操作。相反，您只需要一行代码就可以完成上述所有步骤，并将数据存储在 DataFrame 中。

In [2]:
import pandas as pd
# 读取csv文件, 相对路径
df = pd.read_csv("../data_set/my_csv.csv")
print(df,type(df),sep='\n')

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2022/1/1
1     3    b   3.4  banana  2022/1/2
2     6    c   2.5  orange  2022/1/5
3     5    d   3.2   grape  2022/1/7
<class 'pandas.core.frame.DataFrame'>

In [3]:
import os
os.getcwd()

'/Users/donga5/aCode/MachineLearning/pandas/DataFrame'

#### 方法详细说明:
    
`read_csv(filepath_or_buffer, sep=',',  header='infer', names=None, index_col=None, usecols=None, squeeze=None, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)`

### 一、基本参数

#### 1、filepath_or_buffer：数据输入的路径：可以是文件路径、可以是URL，也可以是实现read方法的任意对象。这个参数，就是我们输入的第一个参数。

In [6]:
import pandas as pd
pd.read_csv(r"../data_set/students.csv")

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

In [7]:
# 还可以是一个URL，如果访问该URL会返回一个文件的话，那么pandas的read_csv函数会自动将
pd.read_csv("https://www.kaggle.com/datasets/nextmillionaire/programming-languages-trend-over-time/download?datasetVersionNumber=1")

HTTPError: HTTP Error 502: Bad Gateway

In [8]:
# 里面还可以是一个 _io.TextIOWrapper，比如：
f = open(r"../data_set/students.csv", encoding="utf-8")
pd.read_csv(f)
# pandas默认使用utf-8读取文件

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

#### 2、sep：读取csv文件时指定的分隔符，默认为逗号。注意："csv文件的分隔符" 和 "我们读取csv文件时指定的分隔符" 一定要一致。

In [12]:
import pandas as pd
pd.read_csv(r"../data_set/students_step.csv")

  id|name|address|gender|birthday
0           1|朱梦雪|地球村|女|2004/11/2
1            2|许文博|月亮星|女|2003/8/7
2           3|张兆媛|艾尔星|女|2004/11/2
3          4|付延旭|克哈星|男|2003/10/11
4            5|王杰|查尔星|男|2002/6/12
5          6|董泽宇|塔桑尼斯|男|2002/2/12

由于指定的分隔符 和 csv文件采用的分隔符 不一致，因此多个列之间没有分开，而是连在一起了。 所以需要手动设置分隔符

In [4]:
df = pd.read_csv(r"data\students_step.csv", sep="|")
df

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

####     3.delim_whitespace ：默认为 False，设置为 True 时，表示分割符为空白字符，可以是空格、"\t"等等。不管分隔符是什么，只要是空白字符，那么可以通过delim_whitespace=True进行读取。

In [16]:
df = pd.read_csv(r"../data_set/students_whitespace.txt",sep=' ')
df

   id       name address     gender    birthday
0   1        朱梦雪     地球村          女   2004/11/2
1   2   许文博\t月亮星       女   2003/8/7         NaN
2   3        张兆媛     艾尔星          女   2004/11/2
3   4        付延旭     克哈星          男  2003/10/11
4   5    王杰\t查尔星       男  2002/6/12         NaN
5   6  董泽宇\t塔桑尼斯       男  2002/2/12         NaN

In [14]:
df = pd.read_csv(r"../data_set/students_whitespace.txt", delim_whitespace=True)
df

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

#### `header`:用作列名的行号，以及数据的开头。默认行为是推断列名：如果没有传递任何名称，则该行为与header=0相同，并且从文件的第一行推断列名，如果显式传递列名，则该行为与header=None相同。显式传递header=0以替换现有名称。标题可以是整数列表，指定列上多索引的行位置，例如[0,1,3]。未指定的中间行将被跳过（例如，本例中跳过2行）。请注意，如果skip_blank_lines=True，此参数将忽略注释行和空行，因此header=0表示数据的第一行，而不是文件的第一行。
#### `names`:当names没被赋值时，header会变成0，即选取数据文件的第一行作为列名；当 names 被赋值，header 没被赋值时，那么header会变成None。如果都赋值，就会实现两个参数的组合功能。

1) names 没有被赋值，header 也没赋值：

In [17]:
# 这种情况下，header为0，即选取文件的第一行作为表头
pd.read_csv(r"../data_set/students.csv")

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

2) names 没有被赋值，header 被赋值：

In [21]:
# 不指定names，指定header为1，则选取第二行当做表头，第二行下面为数据
pd.read_csv(r"../data_set/students.csv", header=1)

   1  朱梦雪   地球村  女   2004/11/2
0  2  许文博   月亮星  女    2003/8/7
1  3  张兆媛   艾尔星  女   2004/11/2
2  4  付延旭   克哈星  男  2003/10/11
3  5   王杰   查尔星  男   2002/6/12
4  6  董泽宇  塔桑尼斯  男   2002/2/12

3) names 被赋值，header 没有被赋值：

In [22]:
pd.read_csv(r"../data_set/students.csv", names=["编号", "姓名", "地址", "性别", "出生日期"])

   编号    姓名       地址      性别        出生日期
0  id  name  address  gender    birthday
1   1   朱梦雪      地球村       女   2004/11/2
2   2   许文博      月亮星       女    2003/8/7
3   3   张兆媛      艾尔星       女   2004/11/2
4   4   付延旭      克哈星       男  2003/10/11
5   5    王杰      查尔星       男   2002/6/12
6   6   董泽宇     塔桑尼斯       男   2002/2/12

可以看到，names适用于没有表头的情况，指定names没有指定header，那么header相当于None。
一般来说，读取文件的时候会有一个表头，一般默认是第一行，但是有的文件中是没有表头的，那么这个时候就可以通过names手动指定、或者生成表头，而文件里面的数据则全部是内容。所以这里id、name、address、date也当成是一条记录了，本来它是表头的，但是我们指定了names，所以它就变成数据了，表头是我们在names里面指定的。

4) names和header都被赋值：

In [23]:
pd.read_csv(r"../data_set/students.csv",
            names=["编号", "姓名", "地址", "性别", "出生日期"],
            header=0)

   编号   姓名    地址 性别        出生日期
0   1  朱梦雪   地球村  女   2004/11/2
1   2  许文博   月亮星  女    2003/8/7
2   3  张兆媛   艾尔星  女   2004/11/2
3   4  付延旭   克哈星  男  2003/10/11
4   5   王杰   查尔星  男   2002/6/12
5   6  董泽宇  塔桑尼斯  男   2002/2/12

这个时候，相当于先不看names，只看header，header为0代表先把第一行当做表头，下面的当成数据；然后再把表头用names给替换掉。

所以names和header的使用场景主要如下：

    ①. csv文件有表头并且是第一行，那么names和header都无需指定;
    ②. csv文件有表头、但表头不是第一行，可能从下面几行开始才是真正的表头和数据，这个时候指定header即可;
    ③. csv文件没有表头，全部是纯数据，那么我们可以通过names手动生成表头;
    ④. csv文件有表头、但是这个表头你不想用，这个时候同时指定names和header。先用header选出表头和数据，然后再用names将表头替换掉，就等价于将数据读取进来之后再对列名进行rename；

#### 4 index_col：我们在读取文件之后所得到的DataFrame的索引默认是0、1、2……，我们可以通过set_index设定索引，但是也可以在读取的时候就指定某列为索引。

In [24]:
df = pd.read_csv(r"../data_set/students.csv", index_col="birthday")
df

            id name address gender
birthday
2004/11/2    1  朱梦雪     地球村      女
2003/8/7     2  许文博     月亮星      女
2004/11/2    3  张兆媛     艾尔星      女
2003/10/11   4  付延旭     克哈星      男
2002/6/12    5   王杰     查尔星      男
2002/2/12    6  董泽宇    塔桑尼斯      男

In [25]:
df = pd.read_csv(r"../data_set/students.csv")
df

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

In [26]:
# 方法二
df.index=df['birthday']
del df['birthday']
df

            id name address gender
birthday
2004/11/2    1  朱梦雪     地球村      女
2003/8/7     2  许文博     月亮星      女
2004/11/2    3  张兆媛     艾尔星      女
2003/10/11   4  付延旭     克哈星      男
2002/6/12    5   王杰     查尔星      男
2002/2/12    6  董泽宇    塔桑尼斯      男

In [27]:
df.loc['2004/11/2']

           id name address gender
birthday
2004/11/2   1  朱梦雪     地球村      女
2004/11/2   3  张兆媛     艾尔星      女

In [28]:
df.index

Index(['2004/11/2', '2003/8/7', '2004/11/2', '2003/10/11', '2002/6/12',
       '2002/2/12'],
      dtype='object', name='birthday')

In [29]:
# to_datetime
pd.to_datetime(df.index)

DatetimeIndex(['2004-11-02', '2003-08-07', '2004-11-02', '2003-10-11',
               '2002-06-12', '2002-02-12'],
              dtype='datetime64[ns]', name='birthday', freq=None)

In [32]:
df.index = pd.to_datetime(df.index)

In [33]:
df.index

DatetimeIndex(['2004-11-02', '2003-08-07', '2004-11-02', '2003-10-11',
               '2002-06-12', '2002-02-12'],
              dtype='datetime64[ns]', name='birthday', freq=None)

In [34]:
df

            id name address gender
birthday
2004-11-02   1  朱梦雪     地球村      女
2003-08-07   2  许文博     月亮星      女
2004-11-02   3  张兆媛     艾尔星      女
2003-10-11   4  付延旭     克哈星      男
2002-06-12   5   王杰     查尔星      男
2002-02-12   6  董泽宇    塔桑尼斯      男

In [38]:
# 如果index是datetime类型，可以这样索引
df['2004']

<ipython-input-38-9f7702c86700>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2004']

            id name address gender
birthday
2004-11-02   1  朱梦雪     地球村      女
2004-11-02   3  张兆媛     艾尔星      女

In [39]:
df['2002-02']

<ipython-input-39-36f89322264f>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2002-02']

            id name address gender
birthday
2002-02-12   6  董泽宇    塔桑尼斯      男

这里，我们在读取的时候指定了name列作为索引；
此外，除了指定单个列，还可以指定多列作为索引，比如["id", "name"]。同时，我们除了可以输入列名外，还可以输入列对应的索引。比如："id"、"name"、"address"、"date"对应的索引就分别是0、1、2、3。

In [40]:
df2 = pd.read_csv(r"../data_set/students.csv", index_col=["gender","birthday"])
df2

                   id name address
gender birthday
女      2004/11/2    1  朱梦雪     地球村
       2003/8/7     2  许文博     月亮星
       2004/11/2    3  张兆媛     艾尔星
男      2003/10/11   4  付延旭     克哈星
       2002/6/12    5   王杰     查尔星
       2002/2/12    6  董泽宇    塔桑尼斯

In [45]:
print(df2.loc["女"])# 只能利用第一个作为索引

           id name address
birthday
2004/11/2   1  朱梦雪     地球村
2003/8/7    2  许文博     月亮星
2004/11/2   3  张兆媛     艾尔星

KeyError: '2004/11/2'

In [46]:
df2.sort_index(inplace=True)
df2

                   id name address
gender birthday
女      2003/8/7     2  许文博     月亮星
       2004/11/2    1  朱梦雪     地球村
       2004/11/2    3  张兆媛     艾尔星
男      2002/2/12    6  董泽宇    塔桑尼斯
       2002/6/12    5   王杰     查尔星
       2003/10/11   4  付延旭     克哈星

In [47]:
type(df2.loc["男"])

pandas.core.frame.DataFrame

#### 5. usecols：返回列的子集。如果是类似列表的，则所有元素都必须是位置性的（即文档列中的整数索引），或者是与用户在名称中提供的列名或从文档标题行推断的列名相对应的字符串。如果给出了名称，则不考虑文档标题行

In [49]:
# 只使用其中的两列
pd.read_csv(r"../data_set/students.csv", usecols=["name","birthday"])

  name    birthday
0  朱梦雪   2004/11/2
1  许文博    2003/8/7
2  张兆媛   2004/11/2
3  付延旭  2003/10/11
4   王杰   2002/6/12
5  董泽宇   2002/2/12

### 二、通用解析参数

   #### 1. encoding:这只编码格式  utf-8  gbk

In [50]:
pd.read_csv(r"../data_set/students_gbk.csv") # UnicodeDecodeError

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd6 in position 35: invalid continuation byte

In [51]:
pd.read_csv(r"../data_set/students_gbk.csv", encoding="gbk")

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

#### 2. dtype：指定某些列读入的数据类型.在读取数据的时候，设定字段的类型。比如，公司员工的id一般是：00001234，如果默认读取的时候，会显示为1234，所以这个时候要把他转为字符串类型，才能正常显示为00001234：

In [52]:
df = pd.read_csv(r"../data_set/students_step_001.csv", sep="|")
df

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

In [53]:
df = pd.read_csv(r"../data_set/students_step_001.csv", sep="|", dtype ={"id":str}) 
df

    id name address gender    birthday
0  001  朱梦雪     地球村      女   2004/11/2
1  002  许文博     月亮星      女    2003/8/7
2  003  张兆媛     艾尔星      女   2004/11/2
3  004  付延旭     克哈星      男  2003/10/11
4  005   王杰     查尔星      男   2002/6/12
5  006  董泽宇    塔桑尼斯      男   2002/2/12

####     3. converters：在读取数据的时候对列数据进行变换，例如将id增加10，但是注意 int(x)，在使用converters参数时，解析器默认所有列的类型为 str，所以需要进行类型转换。

In [44]:
pd.read_csv('../data_set/students.csv', converters={"id": lambda x: int(x) + 10})

   id name address gender    birthday
0  11  朱梦雪     地球村      女   2004/11/2
1  12  许文博     月亮星      女    2003/8/7
2  13  张兆媛     艾尔星      女   2004/11/2
3  14  付延旭     克哈星      男  2003/10/11
4  15   王杰     查尔星      男   2002/6/12
5  16  董泽宇    塔桑尼斯      男   2002/2/12

####     4.true_values和false_values：指定哪些值应该被清洗为True，哪些值被清洗为False。

In [54]:
pd.read_csv('../data_set/students.csv', true_values=['男'], false_values=['女'])

   id name address  gender    birthday
0   1  朱梦雪     地球村   False   2004/11/2
1   2  许文博     月亮星   False    2003/8/7
2   3  张兆媛     艾尔星   False   2004/11/2
3   4  付延旭     克哈星    True  2003/10/11
4   5   王杰     查尔星    True   2002/6/12
5   6  董泽宇    塔桑尼斯    True   2002/2/12

In [46]:
pd.read_csv('../data_set/students.csv', true_values=['女'])

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

这里的替换规则为，只有当某一列的数据类别全部出现在`true_values + false_values`里面，才会被替换。
我们看到"错"并没有被替换成False，原因就是result字段中只有"错"这个类别的值在`true_values + false_values`中，而"对"并没有出现，所以不会替换。
而最后的对、错都出现在了`true_values + false_values`中，所以全部被替换。

#### 5、skiprows：表示过滤行，想过滤掉哪些行，就写在一个列表里面传递给skiprows即可.<font color='red'>这里是先过滤，然后再确定表头</font>

In [58]:
print(pd.read_csv('../data_set/students.csv', skiprows=[0,3]))
pd.read_csv('../data_set/students.csv',skiprows=2)

   1  朱梦雪   地球村  女   2004/11/2
0  2  许文博   月亮星  女    2003/8/7
1  4  付延旭   克哈星  男  2003/10/11
2  5   王杰   查尔星  男   2002/6/12
3  6  董泽宇  塔桑尼斯  男   2002/2/12

   2  许文博   月亮星  女    2003/8/7
0  3  张兆媛   艾尔星  女   2004/11/2
1  4  付延旭   克哈星  男  2003/10/11
2  5   王杰   查尔星  男   2002/6/12
3  6  董泽宇  塔桑尼斯  男   2002/2/12

这里把第一行过滤掉了，因为第一行是表头，所以在过滤掉之后第二行就变成表头了。
当然里面除了传入具体的数值，来表明要过滤掉哪些行，还可以传入一个函数。

In [59]:
pd.read_csv('../data_set/students.csv', skiprows=lambda x: x > 0 and x % 2 == 0)

   id name address gender   birthday
0   1  朱梦雪     地球村      女  2004/11/2
1   3  张兆媛     艾尔星      女  2004/11/2
2   5   王杰     查尔星      男  2002/6/12

由于索引从0开始，所以凡是索引大于0、并且%2等于0的记录都过滤掉。索引大于0，是为了保证表头不被过滤掉。

####     6、skipfooter：从文件末尾过滤行

In [60]:
pd.read_csv('../data_set/students.csv', skipfooter=1)

<ipython-input-60-7edb7fe762a1>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv('../data_set/students.csv', skipfooter=1)

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12

In [61]:
pd.read_csv('../data_set/students.csv', skipfooter=1, engine="python", encoding="utf-8")

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12

 pandas解析数据时用的引擎，目前解析引擎有两种：c、python。默认为 c，因为 c 引擎解析速度更快，但是特性没有 python 引擎全

 skipfooter接收整型，表示从结尾往上过滤掉指定数量的行，因为引擎退化为python，那么要手动指定engine="python"，不然会警告。另外需要指定encoding="utf-8"，因为csv存在编码问题，当引擎退化为python的时候，在Windows上读取会乱码。

####     7、nrows：设置一次性读入的文件行数，在读入大文件时很有用，比如 16G 内存的PC无法容纳几百 G 的大文件。

In [62]:
pd.read_csv('../data_set/students.csv', nrows=3)

   id name address gender   birthday
0   1  朱梦雪     地球村      女  2004/11/2
1   2  许文博     月亮星      女   2003/8/7
2   3  张兆媛     艾尔星      女  2004/11/2

### 三、空值处理相关参数

####     na_values：该参数可以配置哪些值需要处理成 NaN：

In [64]:
pd.read_csv('../data_set/students.csv', na_values=["女", "朱梦雪",'2002/6/12'])

   id name address gender    birthday
0   1  NaN     地球村    NaN   2004/11/2
1   2  许文博     月亮星    NaN    2003/8/7
2   3  张兆媛     艾尔星    NaN   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男         NaN
5   6  董泽宇    塔桑尼斯      男   2002/2/12

可以看到将"女"和"朱梦雪"设置成了NaN，这里的情况是不同的列中包含了不同的值。

### 四、时间处理相关参数

    1、parse_dates：指定某些列为时间类型，这个参数一般搭配date_parser使用。

    2、date_parser：是用来配合parse_dates参数的，因为有的列虽然是日期，但没办法直接转化，需要我们指定一个解析格式：

In [65]:
df = pd.read_csv('../data_set/students.csv')
df

   id name address gender    birthday
0   1  朱梦雪     地球村      女   2004/11/2
1   2  许文博     月亮星      女    2003/8/7
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

In [66]:
df.dtypes # birthday并没有被识别成datetime格式

id           int64
name        object
address     object
gender      object
birthday    object
dtype: object

In [67]:
df = pd.read_csv('../data_set/students.csv', parse_dates=["birthday"])
df

   id name address gender   birthday
0   1  朱梦雪     地球村      女 2004-11-02
1   2  许文博     月亮星      女 2003-08-07
2   3  张兆媛     艾尔星      女 2004-11-02
3   4  付延旭     克哈星      男 2003-10-11
4   5   王杰     查尔星      男 2002-06-12
5   6  董泽宇    塔桑尼斯      男 2002-02-12

In [69]:
df.dtypes # datatime64

id                   int64
name                object
address             object
gender              object
birthday    datetime64[ns]
dtype: object

**不能自动解析的日期格式，需要配合date_parser来进行解析**

In [57]:

df2 = pd.read_csv('../data_set/students_年月日.csv', parse_dates=["birthday"])
print(df2)
df2.dtypes

   id name address gender     birthday
0   1  朱梦雪     地球村      女   2004年11月2日
1   2  许文博     月亮星      女    2003年8月7日
2   3  张兆媛     艾尔星      女   2004年11月2日
3   4  付延旭     克哈星      男  2003年10月11日
4   5   王杰     查尔星      男   2002年6月12日
5   6  董泽宇    塔桑尼斯      男   2002年2月12日

id           int64
name        object
address     object
gender      object
birthday    object
dtype: object

In [70]:
import pandas as pd
from datetime import datetime

df2 = pd.read_csv('../data_set/students_年月日.csv', 
                  parse_dates=["birthday"],
                  date_parser=lambda x: datetime.strptime(x, "%Y年%m月%d日"))
print(df2)
df2.dtypes

   id name address gender   birthday
0   1  朱梦雪     地球村      女 2004-11-02
1   2  许文博     月亮星      女 2003-08-07
2   3  张兆媛     艾尔星      女 2004-11-02
3   4  付延旭     克哈星      男 2003-10-11
4   5   王杰     查尔星      男 2002-06-12
5   6  董泽宇    塔桑尼斯      男 2002-02-12

id                   int64
name                object
address             object
gender              object
birthday    datetime64[ns]
dtype: object

### 五、分块读入相关参数

####     1、iterator：迭代器, iterator 为 bool类型，默认为False。如果为True，那么返回一个 TextFileReader 对象，以便逐块处理文件。这个在文件很大、内存无法容纳所有数据文件时，可以分批读入，依次处理。

In [76]:
chunk = pd.read_csv('../data_set/students.csv', iterator=True)
chunk

In [77]:
df=chunk.get_chunk(2)
print(type(df)) # dataframe
df

<class 'pandas.core.frame.DataFrame'>

   id name address gender   birthday
0   1  朱梦雪     地球村      女  2004/11/2
1   2  许文博     月亮星      女   2003/8/7

In [78]:
# 文件还剩下三行，但是我们指定读取100，那么也不会报错，不够指定的行数，那么有多少返回多少
print(chunk.get_chunk(100))

   id name address gender    birthday
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11
4   5   王杰     查尔星      男   2002/6/12
5   6  董泽宇    塔桑尼斯      男   2002/2/12

In [79]:
chunk.get_chunk(5)

StopIteration:

In [80]:
try:
    # 但是在读取完毕之后，再读的话就会报错了
    chunk.get_chunk(5)
except StopIteration as e:
    print("读取完毕")
# 读取完毕

读取完毕

####  2、chunksize：整型，默认为 None，设置文件块的大小。

In [81]:
chunk = pd.read_csv('../data_set/students.csv', chunksize=2)
# 还是返回一个类似于迭代器的对象
print(chunk)  
# <pandas.io.parsers.TextFileReader object at 0x0000025501143AF0>

# 调用get_chunk，如果不指定行数，那么就是默认的chunksize
print(chunk.get_chunk())

<pandas.io.parsers.readers.TextFileReader object at 0x118292fa0>
   id name address gender   birthday
0   1  朱梦雪     地球村      女  2004/11/2
1   2  许文博     月亮星      女   2003/8/7

In [65]:
print(chunk.get_chunk())

   id name address gender    birthday
2   3  张兆媛     艾尔星      女   2004/11/2
3   4  付延旭     克哈星      男  2003/10/11

In [66]:
print(chunk.get_chunk())

   id name address gender   birthday
4   5   王杰     查尔星      男  2002/6/12
5   6  董泽宇    塔桑尼斯      男  2002/2/12

In [ ]:
# 也可以指定
print(chunk.get_chunk(100))

In [82]:
try:
    chunk.get_chunk(5)
except StopIteration as e:
    print("读取完毕")
# 读取完毕